export DJANGO_SECRET_KEY="reemplazar-con-una-clave-secreta-generada"
export DJANGO_DEBUG="False"
export DJANGO_ALLOWED_HOSTS="tuusuario.pythonanywhere.com"
export DJANGO_CSRF_TRUSTED_ORIGINS="https://tuusuario.pythonanywhere.com"
export DJANGO_SECURE_SSL_REDIRECT="True"
export DJANGO_SESSION_COOKIE_SECURE="True"
export DJANGO_CSRF_COOKIE_SECURE="True"
export DJANGO_SECURE_HSTS_SECONDS="3600"
export DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS="False"
export DJANGO_SECURE_HSTS_PRELOAD="False"
export EMAIL_HOST="smtp.gmail.com"
export EMAIL_PORT="587"
export EMAIL_USE_TLS="True"
export EMAIL_HOST_USER="tu-cuenta@gmail.com"
export EMAIL_HOST_PASSWORD="clave-de-aplicacion-gmail"
export DEFAULT_FROM_EMAIL="Sistema San Ramon <tu-cuenta@gmail.com>"
export CONSULTA_CODIGO_DURACION_MINUTOS="10"
export CONSULTA_CODIGO_MAX_INTENTOS="5"
export CONSULTA_CODIGO_VENTANA_MINUTOS="15"
export CONSULTA_CODIGO_MAX_SOLICITUDES_IP="10"
export CONSULTA_CODIGO_MAX_SOLICITUDES_SOCIO="3"
export CONSULTA_SESION_DURACION_MINUTOS="15"
export CONSULTA_CODIGO_RETENCION_DIAS="30"
export SEGURIDAD_LOGIN_VENTANA_MINUTOS="15"
export SEGURIDAD_LOGIN_MAX_IDENTIFICADOR="5"
export SEGURIDAD_LOGIN_MAX_IP="20"
export SEGURIDAD_RECUPERACION_VENTANA_MINUTOS="60"
export SEGURIDAD_RECUPERACION_MAX_IDENTIFICADOR="3"
export SEGURIDAD_RECUPERACION_MAX_IP="10"
export SEGURIDAD_REAUTENTICACION_MINUTOS="10"
export SEGURIDAD_INTENTOS_RETENCION_DIAS="30"
export RESPALDO_ENCRYPTION_KEYS="generar-con-Fernet.generate_key"
export AUDITORIA_HMAC_KEY="generar-secreto-independiente-largo-y-aleatorio"
export AUDITORIA_ROTACION_BYTES="10485760"
export AUDITORIA_RETENCION_MESES="12"
export CARGA_CSV_MAX_BYTES="2097152"
